#root {
  margin: 0 auto;
  text-align: center;
}

input, button {
  display: block;
  margin: auto;
}

input {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 10px;
  color: black;
}

textarea {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  color: black;
}

label {
  display: block;
  text-align: center;
  
}

nav {
  display: inline-block;
}

.box-shadow {
box-shadow: 6px 9px 26px -4px rgba(130,128,128,0.75);
-webkit-box-shadow: 6px 9px 26px -4px rgba(130,128,128,0.75);
-moz-box-shadow: 6px 9px 26px -4px rgba(130,128,128,0.75);
}